<h3 class="text-center">YoRez</h3>
<div id="screens" class="col-xs-12 col-sm-12">
</div>


<center><input type="range" step="0.1" min="0.5" max="1.5" name="discount_credits" id="discount_credits" /></center>
<center><span id="newValue">1</span></center>

<div id="iframe">
</div>

