<div class="col-xs-3 col-sm-4"></div>
<div class="input-group col-xs-6 col-sm-4">
<form role="form">
  <input type="text" id="iurl" class="form-control" placeholder="<%= iurl %>">
</form>
</div>
<div class="col-xs-3 col-sm-4"></div>
<center>
<iframe src="http://<%= iurl %>" id="rtxy" width="900" height="550"></iframe>
</center>

